<header class="bg-slate-900 text-white">
    <nav class="p-4 flex justify-between items-center">
        <div class="italic text-xs">{{ version }}</div>
        <!-- <a routerLink="/home" class="text-lg font-semibold">Bored Games</a> -->

        <ul class="flex space-x-4">
            @for (item of menuItems; track item.label) {
                <li><a routerLink="{{ item.path }}" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" class="font-semibold hover:text-gray-200 ">{{ item.label }}</a></li>
            }
        </ul>
    </nav>
</header>