<div class="main">
    <h1>Word Guessing</h1>

    <div class="input-holder">
        <label for="charCount">Select number of characters (4-20)</label>
        <input type="number" id="charCount" [(ngModel)]="charCount" min="4" max="20" class="input">
    </div>

    <button class="btn blue m-auto mb-4" (click)="startGame()">New Game</button>

    <div id="gameContainer">
        <div class="mb-2">
            Guess the words using the following characters:<br>
            <strong>{{ shuffledWord }}</strong>
        </div>

        <input type="text" id="userGuess" [(ngModel)]="userGuess" placeholder="Your guess" class="input" [disabled]="!shuffledWord" [maxlength]="charCount">

        <div class="btns-holder">
            <button class="btn green" (click)="submitGuess()" [disabled]="!gameStarted">Submit Guess</button>
            <button class="btn red" (click)="showWord()" [disabled]="!gameStarted">Show Word</button>
        </div>

        @if(shuffledWord){
            <div class="mt-4"><i><strong>Hint: </strong>{{ wordHint }}</i></div>
        }
    </div>
</div>