
.main { 
    @apply max-w-[1032px] text-center p-4 mx-auto;
}

h1 {
    @apply mb-4 text-xl font-bold
}

.input {
    @apply m-0 border border-gray-300 bg-white text-gray-900 text-center rounded-md;
    padding: 0 8px;
    font-family: sans-serif;
    line-height: 36px;
    height: 36px;

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}

.input-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    .input {
        padding: 0 2px;
        text-align: center;
    }

    label {
        margin: 0;
        display: block;
        line-height: 1.3;
    }
}

.btns-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 16px;
}
