<div class="main">
    <h1 class="mb-10">Cam Puzzle</h1>

    <input type="file" #uploadInput accept="image/*" style="display: none;">

    <!-- Buttons -->
    <div class="flex justify-center items-center gap-2 mb-4">
        <select class="select" (change)="onPuzzleSizeChange()" [(ngModel)]="puzzleSize">
            @for(size of puzzleSizes; track size) {
                <option [value]="size">{{size}} x {{size}}</option>
            }
        </select>

        <button class="btn" (click)="uploadPhoto()">Upload Photo</button>

        @if(gameStarted) {
            <button class="btn red" (click)="createPuzzle()">Restart</button>
            <button class="btn blue" (click)="revealOriginal()">Reveal</button>
        }
    </div>

    <!-- Puzzle Area -->
    <div class="game-area">
        @if(alertMsg) {
            <div class="popup">
                <div class="content">{{ alertMsg }}</div>
            </div>
        }

        <div #gameArea class="m-auto"></div>
    </div>
</div>