.main {
  @apply max-w-[1000px] text-center mx-auto pt-4 relative overflow-hidden
}

h1 {
  @apply mb-4 text-xl font-bold
}

.select {
  @apply m-0 border border-gray-300 bg-white text-gray-900 text-center rounded-md;
  padding: 0 8px;
  font-family: sans-serif;
  line-height: 36px;
  height: 36px;

  &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
  }
}

.popup {
  position: absolute;
  z-index: 99;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba($color: #000000, $alpha: 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
  -webkit-user-select: none; 
  -moz-user-select: none;    
  -ms-user-select: none;    
  user-select: none;  

  .content {
    background: #fff;
    padding: 16px;
    text-align: center;
    font-weight: 500;
    color: #000;
    border-radius: 5px;
  }
}