.main {
  @apply max-w-[1032px] text-center mx-auto pt-4
}

h1 {
  @apply mb-4 text-xl font-bold
}

.btns-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 16px;
}


.select {
  @apply m-0 border border-gray-300 bg-white text-gray-900 text-center rounded-md;
  padding: 0 8px;
  font-family: sans-serif;
  line-height: 36px;
  height: 36px;

  &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
  }
}
