@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    line-height: 1.4;
    background: #fff;
    color: #111;
    height: 100%;
    overflow-x: hidden;
}
*, *::after, *::before {
    box-sizing: border-box;
}

/* BTNS */
.btn {
    @apply px-4 py-2 border-0 block text-sm font-medium text-white rounded-md;
    background: #111;
    cursor: pointer;

    &.red {
        background: #ff4e50;
    }
    &.green {
        background: #4db8a3;
    }
    &.blue {
        background: #0083b0;
    }
    &:disabled{
        opacity: 0.5;
        cursor: not-allowed;
    }
}
/* BTNS - END */



/* PUZZLE */
.game-area {
    position: relative;
    width: 100%;
    max-width: 1000px;
    overflow: hidden;
}

.puzzlePiece {
    box-sizing: border-box;
    position: absolute;
    cursor: pointer;
}
@media screen and (max-width: 768px) {
    .main canvas {
        width: 100%; 
        height: auto; 
    }
}
/* PUZZLE 8END */